.container {
    margin: 150px 300px;
}

.card{
    margin: 0 2% !important;
    text-align: center;


}

.infected {
    border-top: 5px solid blue;


}

.recovered {
    border-top: 5px solid green ;
}

.deaths {
    
    border-top: 5px solid red;
}