body { 
    background-color: whitesmoke;
    opacity: 0.8
}

.container {
    display: inline-block;
    align-items: center;
    justify-items: center;
}

h1{
    text-align: center;
    margin-top: 70px;
    margin-bottom: -80px;
    color: black;
    font-weight: 100;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}